<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Is it Dos Toros?</title>
    <link href="css/screen.css" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <% t = Time.new %>
    <% if t.wday == 2 %>
      <p>NO</p>
    <% else %>
      <p>It's not tuesday yet...</p>
    <% end %>
  </body>



</html>